<div class="row">
    <div class="col-xxxl-3 col-md-8">
            <div class="card tasks sameheight-item" data-exclude="xs,sm">
                    <div class="card-header bordered">
                        <div class="header-block">
                            <h3 class="title">
                                Lista de Clientes
                            </h3>
                        </div>
                
                    </div>
                </div>
    </div>
    <div class="col-xxxl-3 col-md-4">
        <!-- <ngx-status-card [title]="statusCard.title" [type]="statusCard.type">
            <i [ngClass]="statusCard.iconClass"></i>
        </ngx-status-card> -->
        <div class="row">
                <div class="col-md-12"> 
                        <div class="card tasks sameheight-item" data-exclude="xs,sm">
                                <div class="card-header bordered">
                                    <div class="header-block">
                                        <h3 class="title">
                                            Lista de Clientes
                                        </h3>
                                    </div>
                            
                                </div>
                            </div>
                </div>                
        </div>
        <div class="row">
                <div class="col-md-12"> 

                        <div class="card tasks sameheight-item" data-exclude="xs,sm">
                                <div class="card-header bordered">
                                    <div class="header-block">
                                        <h3 class="title">
                                            Lista de Clientes
                                        </h3>
                                    </div>
                            
                                </div>
                            </div>
                </div>                
        </div>
        <div class="row">
                <div class="col-md-12"> 

                        <div class="card tasks sameheight-item" data-exclude="xs,sm">
                                <div class="card-header bordered">
                                    <div class="header-block">
                                        <h3 class="title">
                                            Lista de Clientes
                                        </h3>
                                    </div>
                            
                                </div>
                            </div>
                </div>                
        </div>
   
    </div>
</div>
