<!-- <div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
  <app-sidebar></app-sidebar>
  <main class="page-content">
    <div class="container-fluid">
        <main class="main">
      <div class="row">
        <div class="form-group col-md-12">
  
          <router-outlet></router-outlet>
        </div>
      </div>
      </main>
    </div>
  </main>
</div>

 -->

<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
  <app-sidebar></app-sidebar>
  <main class="page-content">
    <div class="container-fluid">
        <div class="row">
        </div>
      <div class="row">
        <div class="col-sm-8">
          One of three columns
        </div>
        <div class="col-sm-4">
          One of three columns
        </div>
        
      </div>
    </div>
  </main>
</div>