<!-- <div class="card tasks sameheight-item" data-exclude="xs,sm">
  <div class="card-header bordered">
      <div class="header-block">
          <h3 class="title">
             Lista de Funcionarios
          </h3>
      </div>
     
  </div>

</div> -->


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 ">
      <div class="d-flex bg-light" style="height:150px">
          <div class="p-2 border">
              <div class="container">
                  <h2>Lista de Funcionarios</h2>
                  <p>Funcionarios cadastrados no Sistema</p>            
                  <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Cpf</th>
                        <th>Cargo</th>
                        <th>Email</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Anderson Barreto</td>
                        <td>07742404745-45</td>
                        <td>andersonbarsantos@example.com</td>
                        <td>Administrador</td>
                      </tr>
                      <tr>
                        <td>Anderson Matheus Barreto</td>
                        <td>0263258965-45</td>
                        <td>matheus.barreto@example.com</td>
                        <td>Administrador</td>
                      </tr>
                      <tr>
                        <td>Valmira Barreto</td>
                        <td>0025565556-45</td>
                        <td>valmira.nunis@example.com</td>
                        <td>Administrador</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
      
          </div>
          </div>
      
        </div>

    </div>
    <div class="col-sm-4">
      <div class="d-flex bg-light" style="height:150px">

          teste


      </div>

    </div>
    
  </div>  
</div>