<!-- <div class="card tasks sameheight-item" data-exclude="xs,sm">
  <div class="card-header bordered">
      <div class="header-block">
          <h3 class="title">
             Lista de Funcionarios
          </h3>
      </div>
     
  </div>

</div> -->

<div class="container">
    <table class="table">
       <thead>
          <tr>
             <th>Coluna 1</th>
             <th>Coluna 2</th>
             <th>Coluna 3</th>
          </tr>
       </thead>
       <tbody>
          <tr>
             <td>conteúdo 1</td>
             <td>conteúdo 2</td>
             <td>conteúdo 3</td>
          </tr>
       </tbody>
    </table>

    <table class="table table-striped">
       <thead>
          <tr>
             <th>Coluna 1</th>
             <th>Coluna 2</th>
             <th>Coluna 3</th>
             <th>Coluna 4</th>
             <th>Coluna 5</th>
             <th>Coluna 6</th>
             <th>Coluna 7</th>
             <th>Coluna 8</th>
             <th>Coluna 9</th>
             <th>Coluna 10</th>
          </tr>
       </thead>
       <tbody>
          <tr>
             <td>conteúdo 1</td>
             <td>conteúdo 2</td>
             <td>conteúdo 3</td>
             <td>conteúdo 4</td>
             <td>conteúdo 5</td>
             <td>conteúdo 6</td>
             <td>conteúdo 7</td>
             <td>conteúdo 8</td>
             <td>conteúdo 9</td>
             <td>conteúdo 10</td>
          </tr>
          <tr>
             <td>conteúdo 1</td>
             <td>conteúdo 2</td>
             <td>conteúdo 3</td>
             <td>conteúdo 4</td>
             <td>conteúdo 5</td>
             <td>conteúdo 6</td>
             <td>conteúdo 7</td>
             <td>conteúdo 8</td>
             <td>conteúdo 9</td>
             <td>conteúdo 10</td>
          </tr>
       </tbody>
    </table>

    <div class="table-responsive">
       <table class="table table-striped">
          <thead>
             <tr>
                <th>Coluna 1</th>
                <th>Coluna 2</th>
                <th>Coluna 3</th>
                <th>Coluna 4</th>
                <th>Coluna 5</th>
                <th>Coluna 6</th>
                <th>Coluna 7</th>
                <th>Coluna 8</th>
                <th>Coluna 9</th>
                <th>Coluna 10</th>
             </tr>
          </thead>
          <tbody>
             <tr>
                <td>conteúdo 1</td>
                <td>conteúdo 2</td>
                <td>conteúdo 3</td>
                <td>conteúdo 4</td>
                <td>conteúdo 5</td>
                <td>conteúdo 6</td>
                <td>conteúdo 7</td>
                <td>conteúdo 8</td>
                <td>conteúdo 9</td>
                <td>conteúdo 10</td>
             </tr>
             <tr>
                <td>conteúdo 1</td>
                <td>conteúdo 2</td>
                <td>conteúdo 3</td>
                <td>conteúdo 4</td>
                <td>conteúdo 5</td>
                <td>conteúdo 6</td>
                <td>conteúdo 7</td>
                <td>conteúdo 8</td>
                <td>conteúdo 9</td>
                <td>conteúdo 10</td>
             </tr>
          </tbody>
       </table>
    </div>
 </div>